<div class="fluid-container">
  <div class="row">

    <div class="col-md-3">
      <h5>Food Recipes</h5>
      <div class="social-icons">
        <a href="callto:+917331129435"><i class="las la-phone-alt"></i></a>
        <a href="mailto:mudhiiguubbakalyonnii@gmail.com"
          ><i class="las la-envelope"></i
        ></a>
        <a
          href="https://twitter.com/Kalyonnii2489?t=NFk5VUEmLGjMOKQSQCIdCg&s=09"
          ><i class="lab la-twitter"></i
        ></a>
        <a href="https://instagram.com/kalyonnii?igshid=MzNlNGNkZWQ4Mg=="
          ><i class="lab la-instagram"></i
        ></a>
        <a href="https://www.linkedin.com/in/mudhiiguubba-kalyonnii-4aabb3218/"
          ><i class="lab la-linkedin"></i
        ></a>
        <a href="https://github.com/kalyonnii"><i class="lab la-github"></i></a>
      </div>
    </div>
    <div class="col-md-3">
      <h5>Recipes on</h5>
      <div class="links">
        <p>
          <a target="_blank" href="#"> Diet </a>
        </p>
        <p>
          <a target="_blank" href="#"> Nutrients </a>
        </p>
      </div>
    </div>
    <div class="col-md-3">
      <h5>Quick Links</h5>
      <div class="links">
        <p>
          <a target="_blank" href="#"> Recipes </a>
        </p>
        <p>
          <a target="_blank" href="#"> Categories </a>
        </p>
      </div>
    </div>
    <div class="col-md-3">
      <h5>Other Links</h5>
      <div class="links">
        <p>
          <a target="_blank" href="#"> Profile </a>
        </p>
        <p>
          <a target="_blank" href="#"> Favourites </a>
        </p>
      </div>
    </div>

  </div>

  <div class="copyright">
    <p>
      <i class="las la-copyright"></i>
      2023 copyright <a href="#"><b>FoodRecipes.in.</b></a> All rights Reserved.
    </p>
  </div>


</div>

<button *ngIf="showButton" (click)="scrollToTop()" class="scroll-to-top-button">
  <i class="las la-arrow-up"></i>
</button>
<div class="go-top-btn"></div>
