
    <div class="dash-content">
      <div class="container">
        <div class="row">
          <div class="col-md-6">
            <div class="flex text-center content">
              <h2 class="text1 animate__animated animate__pulse animate__infinite	infinite">
                Learn. Cook. Share.<br/>Cooking Made Easy.
              </h2>
              <div class="text2">
              <p class="text-center">
                Say good bye to long and frustrating
              </p>
              <p class="text-center">
                food blogs and recipe videos. Access </p>
              <p class="text-center">
                our recipe cards to prepare any dish </p>
              <p class="text-center">
                in minutes.</p>

                </div>
              <div class="flex mx-auto md:mx-40 mt-6 justify-center flex-wrap gap-6">
                <a href="#search-dish-call">
                <button type="button" class="btn btn-secondary">
                Browse Dish
                </button>
              </a>
              </div>
              </div>
          </div>
          <div class="col-md-6">
            <div class="flex justify-center ">
              <div class="animate__rotateIn">
              <img src="../../assets/images/dish1.png" alt="" />
            </div>
              </div>
          </div>
        </div>
      </div>
    </div>
